<%- include('../../partials/header') -%>
<%- include('../../partials/navbar') -%>
<div class="container">
    <hr>
    <h2 class="text-center">Categories</h2>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<%- include('../../partials/footer') -%>